.nav-menu__lang__btn {
  border-radius: 32px;
  border: 2px solid #565C66 !important;
  padding: 12px 24px !important;
  font-size: 16px;
  font-weight: 500;
  color: #A5A8AD;
  transition: border-color .2s ease-in-out, color .2s ease-in-out;
}

.nav-menu__lang__btn {
  border-radius: 32px;
  border: 2px solid #565C66 !important;
  padding: 12px 24px !important;
  font-size: 16px;
  font-weight: 500;
  color: #A5A8AD;
  transition: border-color .2s ease-in-out, color .2s ease-in-out;
}

.nav-menu__lang__btn:first-child {
  margin-right: 24px;
}

.nav-menu__lang__btn.lang-active {
  border-color: #9466FF !important;
  color: rgba(255, 255, 255, 0.90);
}

.nav-menu__lang__btn:hover {
  transition: border-color .2s ease-in-out, color .2s ease-in-out;
  border-color: #9466FF !important;
  color: rgba(255, 255, 255, 0.90);
}